<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jass.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            <button class="home button">Home</button>
            <button class="dashboard button">Dashboard</button>
            {{#if logged_in}}
            <button class="logout button">Logout</button>
            {{else}}
            <button class="login button">Login</button>
            {{/if}}
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    {{{body}}}
</body>

<script src="../js/index.js"></script>
</html>