<div class="form">
<form action="login">
    <label for="name">Name: </label>
    <input id="name" type="text" default="Username">

    <label for="password">Password: </label>
    <input id="password" type="text" default="Password">

    <button id="login-btn" class="button" type="submit">Login</button>
    <button id="register-btn" class="button" type="password">Register</button>
</form>

</div>

<script src="../js/login.js"></script>